<!-- <!DOCTYPE html>
 -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- <title>AP_table</title> -->
<!--     <link rel="stylesheet" type="text/css" href="style.css" media="all" />
    <script type="text/javascript" src="../static/TabelSorter/jquery.tablesorter.widgets.js"></script>
    <script type="text/javascript" src="../static/TableSorter/jquery.tablesorter.js"></script>  -->




	<title>ap</title>
	<style type="text/css">
		/*		div.table {
    		margin-left: 15%;
    		padding: 10px 20px;
		}

		#apTable, #fapTable {
    		font-family: arial, sans-serif;
    		border-collapse: collapse;
    		width: 80%;
    		border: 3px solid black;
    		margin: 16px;
    		border-collapse: collapse;
		}

		th {
    		text-align: left;
    		padding: 8px;
    		background-color: #FFAA33;
		}

		td {
    		text-align: left;
    		padding: 8px;    
		}

		tr:nth-child(even) {
    		background-color: #dddddd;
		}	

		#apTable tr.header, #apTable tr:hover, #fapTable tr.header, #fapTable tr:hover {
			background-color: #f1f1f1;
		}	
*/
		#apInput {
			border: 1px solid #ddd;
			margin-bottom: 12px;
		}

        input.backhover:hover {
            background-color: gray;
        }

        tr td:first-child:hover {
            color: green;
            cursor: pointer;
        }

	</style>

	<script>
		$('.js-pscroll').each(function(){
        	var ps = new PerfectScrollbar(this);

        	$(window).on('resize', function(){
        	    ps.update();
        	})
    	});  
		function apFunction() {
  			//Declare variables
  			var input, filter, table, tr, td, i, txtValue;
  			input = document.getElementById("apInput");
  			filter = input.value.toUpperCase();
  			table = document.getElementById("apTable");
  			tr = table.getElementsByTagName("tr");
  			//Loop throught all table rows, and hide those who don't match the search query
  			for (i=0; i<tr.length; i++)
  			{
  				td = tr[i].getElementsByTagName("td")[0];
  				if (td) {
  					txtValue = td.textContent || td.innerText;
  					if(txtValue.toUpperCase().indexOf(filter) > -1)
  					{
  						tr[i].style.display = "";
  					} 
  					else {
  						tr[i].style.display = "none";
  					}
  				}
  			}
  		}

        var link_to_apdetail= '{{ url_for('ap_detail') }}' ;

        $(document).ready(function(){
            $("tr td:first-child").click(function(){
                $("#aptable").hide();
                $("#apform").show();
            });
            $("#back").click(function(){
                $("#aptable").show();
                $("#apform").hide();
            });
        });
    </script>

</head>

<body>

    {<script type="text/javascript">
        $(function () {
            $("#Table").tablesorter({widgets: ['zebra']});
        });
    </script>}

	<!--
	<div class="table">
		<h2>AP資訊</h2>

		<input type="text" id="apInput" onkeyup="apFunction()" placeholder="Search for ID ..">
		<table rules="all" id="apTable">
			<th>Connecting AP</th>
			{% for i in range(success|length) %}
			{% set e = success[i] %} {# set variable #}
			<tr>
				<td><a href=''>AP {{ i }}!</a> &emsp; {{ e[0] }}/ {{ e[1] }}/ {{ e[2] }}</td>
			</tr>
			{% endfor %}
		</table>

		<input type="text" id="fapInput" onkeyup="fapFunction()" placeholder="Search for ID ..">
		<table rules="all" align-right="16px" id="fapTable">
			<th>Connecting failed AP</th>
			{% for i in range(fail|length) %}
			{% set e = fail[i] %}
			<tr>
				<td><a href=''>AP {{ i }}!</a> &emsp; {{ e[0] }}/ {{ e[1] }}/ {{ e[2] }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	-->

        <div class="limiter" style="margin-left: 15%; padding-top: 5%; width: 85%; padding: 10px 20px; padding-top: 4.5%;">
            <div id="aptable">
                <h1>AP</h1>
                <input type="text" id="apInput" onkeyup="apFunction()" placeholder="Search for ID .." style="margin-left: 2%; margin-top: 3%; outline-style: solid; outline-width: 1px;">
                <div class="container-table100" style="justify-content: flex-start; min-height: 20vh;">
                    <div class="wrap-table100">
                        <div class="table100 ver3 m-b-110">
                            <div class="table100-head">
                                <table>
                                    <thead>
                                        <tr class="row100 head" style="cursor: pointer;">
                                            <th class="cell100 column1">name</th>
                                            <th class="cell100 column2">ID</th>
                                            <th class="cell100 column3">MAC</th>
                                            <th class="cell100 column4">SSID</th>
                                            </tr>
                                    </thead>
                            </table>
                        </div>

                        <div class="table100-body js-pscroll">
                            <table id="Table">
                                <tbody>
                                    <tr class="row100 body">
                                        <td class="cell100 column1">Like a butterfly</td>
                                        <td class="cell100 column2">Boxing</td>
                                        <td class="cell100 column3">9:00 AM - 11:00 AM</td>
                                        <td class="cell100 column4">Aaron Chapman</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Mind & Body</td>
                                        <td class="cell100 column2">Yoga</td>
                                        <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                                        <td class="cell100 column4">Adam Stewart</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Crit Cardio</td>
                                        <td class="cell100 column2">Gym</td>
                                        <td class="cell100 column3">9:00 AM - 10:00 AM</td>
                                        <td class="cell100 column4">Aaron Chapman</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Wheel Pose Full Posture</td>
                                        <td class="cell100 column2">Yoga</td>
                                        <td class="cell100 column3">7:00 AM - 8:30 AM</td>
                                        <td class="cell100 column4">Donna Wilson</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Wheel Pose Full Posture</td>
                                        <td class="cell100 column2">Yoga</td>
                                        <td class="cell100 column3">7:00 AM - 8:30 AM</td>
                                        <td class="cell100 column4">Donna Wilson</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Playful Dancer's Flow</td>
                                        <td class="cell100 column2">Yoga</td>
                                        <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                                        <td class="cell100 column4">Donna Wilson</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Zumba Dance</td>
                                        <td class="cell100 column2">Dance</td>
                                        <td class="cell100 column3">5:00 PM - 7:00 PM</td>
                                        <td class="cell100 column4">Donna Wilson</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Cardio Blast</td>
                                        <td class="cell100 column2">Gym</td>
                                        <td class="cell100 column3">5:00 PM - 7:00 PM</td>
                                        <td class="cell100 column4">Randy Porter</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Pilates Reformer</td>
                                        <td class="cell100 column2">Gym</td>
                                        <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                                        <td class="cell100 column4">Randy Porter</td> 
                                   </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Supple Spine and Shoulders</td>
                                        <td class="cell100 column2">Yoga</td>
                                        <td class="cell100 column3">6:30 AM - 8:00 AM</td>
                                        <td class="cell100 column4">Randy Porter</td>  
                                  </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Yoga for Divas</td>
                                        <td class="cell100 column2">Yoga</td>
                                        <td class="cell100 column3">9:00 AM - 11:00 AM</td>
                                        <td class="cell100 column4">Donna Wilson</td> 
                                   </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Virtual Cycle</td>
                                        <td class="cell100 column2">Gym</td>
                                        <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                                        <td class="cell100 column4">Randy Porter</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Like a butterfly</td>
                                        <td class="cell100 column2">Boxing</td>
                                        <td class="cell100 column3">9:00 AM - 11:00 AM</td>
                                        <td class="cell100 column4">Aaron Chapman</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Mind & Body</td>
                                        <td class="cell100 column2">Yoga</td>
                                        <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                                        <td class="cell100 column4">Adam Stewart</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Crit Cardio</td>
                                        <td class="cell100 column2">Gym</td>
                                        <td class="cell100 column3">9:00 AM - 10:00 AM</td>
                                        <td class="cell100 column4">Aaron Chapman</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Wheel Pose Full Posture</td>
                                        <td class="cell100 column2">Yoga</td>
                                        <td class="cell100 column3">7:00 AM - 8:30 AM</td>
                                        <td class="cell100 column4">Donna Wilson</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Playful Dancer's Flow</td>
                                        <td class="cell100 column2">Yoga</td>
                                        <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                                        <td class="cell100 column4">Donna Wilson</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Zumba Dance</td>
                                        <td class="cell100 column2">Dance</td>
                                        <td class="cell100 column3">5:00 PM - 7:00 PM</td>
                                        <td class="cell100 column4">Donna Wilson</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Cardio Blast</td>
                                        <td class="cell100 column2">Gym</td>
                                        <td class="cell100 column3">5:00 PM - 7:00 PM</td>
                                        <td class="cell100 column4">Randy Porter</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Pilates Reformer</td>
                                        <td class="cell100 column2">Gym</td>
                                        <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                                        <td class="cell100 column4">Randy Porter</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Supple Spine and Shoulders</td>
                                        <td class="cell100 column2">Yoga</td>
                                        <td class="cell100 column3">6:30 AM - 8:00 AM</td>
                                        <td class="cell100 column4">Randy Porter</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Yoga for Divas</td>
                                        <td class="cell100 column2">Yoga</td>
                                        <td class="cell100 column3">9:00 AM - 11:00 AM</td>
                                        <td class="cell100 column4">Donna Wilson</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Virtual Cycle</td>
                                        <td class="cell100 column2">Gym</td>
                                        <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                                        <td class="cell100 column4">Randy Porter</td>
                                    </tr>
                                </tbody>
                            </table>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="apform" style="display: none;">
        <form>
            <h1>Information</h1>
            <form>
                <div class="form-group row">
                    <label for="ID" class="col-sm-2 col-form-label">ID</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control" id="ID" placeholder="ID">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="MAC" class="col-sm-2 col-form-label">MAC</label>
                    <div class="col-sm-4">
                        <input type="number" readonly class="form-control" id="MAC" placeholder="MAC">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputSSID" class="col-sm-2 col-form-label">SSID</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" style="background-color: #DDDDDD;" id="inputSSID" placeholder="SSID">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="device_id" class="col-sm-2 col-form-label">Device ID</label>
                    <div class="col-sm-4">
                        <input type="number" readonly class="form-control" id="device_id" placeholder="device ID">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="cpuusage" class="col-sm-2 col-form-label">CPU Usage</label>
                    <div class="col-sm-4">
                        <input type="number" readonly class="form-control" id="cpu_usage" placeholder="data">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="received" class="col-sm-2 col-form-label">Received Data</label>
                    <div class="col-sm-4">
                        <input type="number" readonly class="form-control" id="received" placeholder="data">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="transmit" class="col-sm-2 col-form-label">Transmit Data</label>
                    <div class="col-sm-4">
                        <input type="number" readonly class="form-control" id="transmit" placeholder="data">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="timestamp" class="col-sm-2 col-form-label">Timestamp</label>
                    <div class="col-sm-4">
                        <input type="time" readonly class="form-control" id="timestamp" placeholder="time">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="gw_id" class="col-sm-2 col-form-label">gw_ID</label>
                    <div class="col-sm-4">
                        <input type="number" readonly class="form-control" id="gw_id" placeholder="ID">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="datetime" class="col-sm-2 col-form-label">最後登錄時間</label>
                    <div class="col-sm-4">
                        <input type="time" readonly class="form-control" id="datetime" placeholder="time">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="last_ip" class="col-sm-2 col-form-label">Last_IP</label>
                    <div class="col-sm-4">
                        <input type="number" readonly class="form-control" id="last_ip" placeholder="IP">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="sys_uptime" class="col-sm-2 col-form-label">System Uptime</label>
                    <div class="col-sm-4">
                        <input type="time" readonly class="form-control" id="sys_uptime" placeholder="time">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="sys_memfree" class="col-sm-2 col-form-label">System Memfree</label>
                    <div class="col-sm-4">
                        <input type="number" readonly class="form-control" id="sys_memfree" placeholder="sys_memfree">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="sys_load" class="col-sm-2 col-form-label">System Load</label>
                    <div class="col-sm-4">
                        <input type="number" readonly class="form-control" id="sys_load" placeholder="Load data">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="wifidog_uptime" class="col-sm-2 col-form-label">Wifidog Uptime</label>
                    <div class="col-sm-4">
                        <input type="time" readonly class="form-control" id="wifidog_uptime" placeholder="time">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="created_time" class="col-sm-2 col-form-label">Created Time</label>
                    <div class="col-sm-4">
                        <input type="time" readonly class="form-control" id="created_time" placeholder="time">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="update_time" class="col-sm-2 col-form-label">Update Time</label>
                    <div class="col-sm-4">
                        <input type="time" readonly class="form-control" id="update_time" placeholder="time">
                    </div>
                </div>
            </form>


<!--             <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputID">ID</label>
                    <input type="ID" readonly class="form-control-plaintext" id="id" value="ID">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputMAC">MAC</label>
                    <input type="MAC" readonly class="form-control" id="MAC" value="MAC">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputSSID">SSID</label>
                    <input type="text" class="form-control" id="SSID" placeholder="SSID">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="id">Device ID</label>
                    <input type="text" readonly class="form-control" id="device_id" value="ID">
                </div>
                <div class="form-group col-md-3">
                    <label for="cpuusage">CPU Usage</label>
                    <input type="text" readonly class="form-control" id="cpu_usage" value="CPU usage">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="data">received</label>
                    <input type="decimal" readonly class="form-control" id="received" value="received value">
                </div>
                <div class="form-group col-md-3">
                    <label for="data">transmit</label>
                    <input type="decimal" readonly class="form-control" id="transmit" value="transmit value">
                </div>
                <div class="form-group col-md-3">
                    <label for="data">timestamp</label>
                    <input type="decimal" readonly class="form-control" id="timestamp" value="time">
                </div>
            </div> -->
            <input type="text" readonly class="form-control backhover" style="width: 5%;" id="back" value="back">
        </form>
        </div>
    </div>
</body>

</html>