<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!DOCTYPE html>
<html>
<head>
    <script>
        var link_to_main= '{{ url_for('main_page') }}' ;
        var link_to_ap = '{{url_for('ap_page')}}' ;
        var link_to_users= '{{url_for('user_page')}}' ;
        var link_to_about= '{{url_for('about_page')}}';         //temp
        var link_to_imformation= '{{url_for('imfor_page')}}';   //temp
    </script>

    <!--
	<link rel="stylesheet" type="text/css" href="UI_main_css.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    -->
    <link rel="Shortcut Icon" type="image/x-icon" href="{{url_for('static',filename='favicon.ico')}}">
    <link rel="stylesheet" href="{{url_for('static', filename= 'bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'UI_main_css.css')}}">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <script src="{{url_for('static', filename= 'jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename= 'bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename= 'popper.min.js')}}"></script>
    <script src="{{url_for('static', filename= 'ajax_support.js')}}"></script>

    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="{{url_for('static', filename= 'ajax_support.js')}}"></script>
    -->
    
    <script>
        function ret_html(select) {
            switch(select) {
                case 'main':
                    return link_to_main;
                    break;
                case 'ap':
                    return link_to_ap;
                    break;
                case 'user':
                    return link_to_users;
                    break;
                case 'about':
                    return link_to_about;
                    break;
            }
        }
        var page_select = '';

        $(document).ready(function () {         //呦西 !
            $('#con').load( link_to_main);
            page_select = 'main';

            $('#main, #ap, #user, #about').click(function () {
                $("#"+page_select).removeClass("navbar");
                $(this).addClass("navbar");
                page_select = $(this).attr('id');
                var temp= ret_html(page_select);
                //if (temp!=0)
                $('#con').load(temp);
            
            });
        })
    </script> 

</head>

<body>

    <div class="btn-group-vertical nav" role="group" id="nav">    
        <button type="button" class="btn btn-outline-success navbar" id="main"><b>HOME</b></button>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="ap"><b>AP管理</b></button>
            <div class="dropdown-menu">
                <a href="#" class="dropdown-item" id="addap">Add AP</a>
                <a href="#" class="dropdown-item" id="delap">Delete AP</a>
            </div>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="user"><b>User管理</b></button>
            <div class="dropdown-menu">
                <a href="#" class="dropdown-item" id="addus">Add User</a>
                <a href="#" class="dropdown-item" id="delus">Delete User</a>
            </div>            
        </div>
        <button type="button" class="btn btn-outline-success" id="about"><b>About</b></button>
    </div>
    <div id="con"></div>

</body>
</html>