<!DOCTYPE html>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<html>
<head>	

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>User</title>
    <style type="text/css">
        div.table {
            margin-left: 15%;
            padding: 10px 20px;
        }

        #userInput {
            border: 1px solid black;
            margin-bottom: 12px;
        }
    </style>
	
    <script>
        $(document).ready(function () {
			$("td#user_choose").click(function() {	//一定要用 function() {... this 才正確
				var index= $(this).attr("data-index");
				var name= $(this).attr("data-name");
				//console.log(this);
				alert('index: '+index+'\n'+'name: '+name);
				var data_j = {'index': index, 'name': name};
				$("div#user_list").load_ajax( link_to_imformation, data_j); //可以接收到 UI_main_page 的變數
            });
            $('.js-pscroll').each(function(){
                var ps = new PerfectScrollbar(this);
                $(window).on('resize', function(){
                ps.update();
                })
            });
        })
    </script>
    <script>
        function userFunction() {
            //Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("userInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("Table");
            tr = table.getElementsByTagName("tr");
            //Loop throught all table rows, and hide those who don't match the search query
            for (i=0; i<tr.length; i++)
            {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if(txtValue.toUpperCase().indexOf(filter) > -1)
                    {
                        tr[i].style.display = "";
                    } 
                    else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</head>

<body>

    <script type="text/javascript">
        $(function () {
            $("#Table").tablesorter({widgets: ['zebra']});
        });
    </script>

    <div id="user_list">
        <div class="limiter" style="margin-left: 15%; padding-top: 5%; width: 85%; padding: 10px 20px;  padding-top: 6%;">
            <h1><b>Connecting User</b></h1>
            <input type="text" id="userInput" onkeyup="userFunction()" placeholder="Search for ID .." style="margin-left: 2%; margin-top: 3%; outline-style: solid; outline-width: 2px; padding: 4px;">
            <div class="container-table100" style="justify-content: flex-start; min-height: 20vh;">
                <div class="wrap-table100">
                    <div class="table100 ver3 m-b-110">
                        
                            <table id="Table">
                                <div class="table100-head">
                                <thead>
                                    <tr class="row100 head" style="cursor: pointer;">
                                        <th class="cell100 column1">user_ID</th>
                                        <th class="cell100 column2">username</th>
                                        <th class="cell100 column3">password</th>
                                        <th class="cell100 column4">email</th>
                                        <th class="cell100 column5">register date</th>
                                    </tr>
                                </thead>
                                </div>
<!--                             </table>
                        </div>

                        <div class="table100-body js-pscroll">
                            <table id="userTable"> -->
                                <div class="js-pscroll">
                                <tbody class="table100-body">
                                    <tr class="row100 body">
                                        <td class="cell100 column1">Like a butterfly</td>
                                        <td class="cell100 column2">Boxing</td>
                                        <td class="cell100 column3">9:00 AM - 11:00 AM</td>
                                        <td class="cell100 column4">abc@gmail.com</td>
                                        <td class="cell100 column5">2018/12/20</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Mind & Body</td>
                                        <td class="cell100 column2">Yoga</td>
                                        <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                                        <td class="cell100 column4">abc@gmail.com</td>
                                        <td class="cell100 column5">2018/12/20</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Crit Cardio</td>
                                        <td class="cell100 column2">Gym</td>
                                        <td class="cell100 column3">9:00 AM - 10:00 AM</td>
                                        <td class="cell100 column4">abc@gmail.com</td>
                                        <td class="cell100 column5">2018/12/20</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Wheel Pose Full Posture</td>
                                        <td class="cell100 column2">Yoga</td>
                                        <td class="cell100 column3">7:00 AM - 8:30 AM</td>
                                        <td class="cell100 column4">abc@gmail.com</td>
                                        <td class="cell100 column5">2018/12/20</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Wheel Pose Full Posture</td>
                                        <td class="cell100 column2">Yoga</td>
                                        <td class="cell100 column3">7:00 AM - 8:30 AM</td>
                                        <td class="cell100 column4">abc@gmail.com</td>
                                        <td class="cell100 column5">2018/12/20</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Playful Dancer's Flow</td>
                                        <td class="cell100 column2">Yoga</td>
                                        <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                                        <td class="cell100 column4">abc@gmail.com</td>
                                        <td class="cell100 column5">2018/12/20</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Zumba Dance</td>
                                        <td class="cell100 column2">Dance</td>
                                        <td class="cell100 column3">5:00 PM - 7:00 PM</td>
                                        <td class="cell100 column4">abc@gmail.com</td>
                                        <td class="cell100 column5">2018/12/20</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Cardio Blast</td>
                                        <td class="cell100 column2">Gym</td>
                                        <td class="cell100 column3">5:00 PM - 7:00 PM</td>
                                        <td class="cell100 column4">abc@gmail.com</td>
                                        <td class="cell100 column5">2018/12/20</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Pilates Reformer</td>
                                        <td class="cell100 column2">Gym</td>
                                        <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                                        <td class="cell100 column4">abc@gmail.com</td>
                                        <td class="cell100 column5">2018/12/20</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Supple Spine and Shoulders</td>
                                        <td class="cell100 column2">Yoga</td>
                                        <td class="cell100 column3">6:30 AM - 8:00 AM</td>
                                        <td class="cell100 column4">abc@gmail.com</td>
                                        <td class="cell100 column5">2018/12/20</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Yoga for Divas</td>
                                        <td class="cell100 column2">Yoga</td>
                                        <td class="cell100 column3">9:00 AM - 11:00 AM</td>
                                        <td class="cell100 column4">abc@gmail.com</td>
                                        <td class="cell100 column5">2018/12/20</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Virtual Cycle</td>
                                        <td class="cell100 column2">Gym</td>
                                        <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                                        <td class="cell100 column4">abc@gmail.com</td>
                                        <td class="cell100 column5">2018/12/20</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Like a butterfly</td>
                                        <td class="cell100 column2">Boxing</td>
                                        <td class="cell100 column3">9:00 AM - 11:00 AM</td>
                                        <td class="cell100 column4">abc@gmail.com</td>
                                        <td class="cell100 column5">2018/12/20</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Mind & Body</td>
                                        <td class="cell100 column2">Yoga</td>
                                        <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                                        <td class="cell100 column4">abc@gmail.com</td>
                                        <td class="cell100 column5">2018/12/20</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Crit Cardio</td>
                                        <td class="cell100 column2">Gym</td>
                                        <td class="cell100 column3">9:00 AM - 10:00 AM</td>
                                        <td class="cell100 column4">abc@gmail.com</td>
                                        <td class="cell100 column5">2018/12/20</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Wheel Pose Full Posture</td>
                                        <td class="cell100 column2">Yoga</td>
                                        <td class="cell100 column3">7:00 AM - 8:30 AM</td>
                                        <td class="cell100 column4">abc@gmail.com</td>
                                        <td class="cell100 column5">2018/12/20</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Playful Dancer's Flow</td>
                                        <td class="cell100 column2">Yoga</td>
                                        <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                                        <td class="cell100 column4">abc@gmail.com</td>
                                        <td class="cell100 column5">2018/12/20</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Zumba Dance</td>
                                        <td class="cell100 column2">Dance</td>
                                        <td class="cell100 column3">5:00 PM - 7:00 PM</td>
                                        <td class="cell100 column4">abc@gmail.com</td>
                                        <td class="cell100 column5">2018/12/20</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Cardio Blast</td>
                                        <td class="cell100 column2">Gym</td>
                                        <td class="cell100 column3">5:00 PM - 7:00 PM</td>
                                        <td class="cell100 column4">abc@gmail.com</td>
                                        <td class="cell100 column5">2018/12/20</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Pilates Reformer</td>
                                        <td class="cell100 column2">Gym</td>
                                        <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                                        <td class="cell100 column4">abc@gmail.com</td>
                                        <td class="cell100 column5">2018/12/20</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Supple Spine and Shoulders</td>
                                        <td class="cell100 column2">Yoga</td>
                                        <td class="cell100 column3">6:30 AM - 8:00 AM</td>
                                        <td class="cell100 column4">abc@gmail.com</td>
                                        <td class="cell100 column5">2018/12/20</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Yoga for Divas</td>
                                        <td class="cell100 column2">Yoga</td>
                                        <td class="cell100 column3">9:00 AM - 11:00 AM</td>
                                        <td class="cell100 column4">abc@gmail.com</td>
                                        <td class="cell100 column5">2018/12/20</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Virtual Cycle</td>
                                        <td class="cell100 column2">Gym</td>
                                        <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                                        <td class="cell100 column4">abc@gmail.com</td>
                                        <td class="cell100 column5">2018/12/20</td>
                                    </tr>
                                </tbody>
                                </div>
                            </table>    
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>